body{
    padding: 0px;
    margin: 0px;
     font-family: "Poppins", sans-serif;
     box-sizing: border-box;
}

.header {
  display: flex;                
  justify-content: space-between; 
  align-items: center;         
  background-color: #ffffff;     
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header h3 {
  margin: 0;
  font-size: 18px; 
  color: white;
}
.navbars {
  display: flex;             
  gap: 10px;                  
}
.navbars p {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: pointer;
  margin-right: 20px;
  cursor: pointer;
 font-weight: 500;
}
.navbars p:hover{
    color: rgb(58, 58, 184);
}
.header h3{
    color: rgb(58, 58, 184);
    font-size: 30px;
}

.navbars button{
background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.navbars button:hover{
    background-color: rgb(195, 211, 255);
}
.image img{
    width: 100%;
}
.body-text{
    position: absolute;
  top: 50%;
  left: 10%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.search {
  position: relative; 
  width: 300px; 
}


.search img {
  position: absolute;   
  left: 10px;          
  top: 50%;            
  transform: translateY(-50%); 
  width: 20px;          
  height: 20px;
}


.search input {
  width: 100%;
  padding: 10px 10px 10px 40px; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}





 
 
